@include govuk-exports("govuk/component/gdspap-pagination") {
  // stylelint-disable max-nesting-depth, scss/at-extend-no-missing-placeholder, declaration-no-important

  .jquery-bootstrap-pagination {
    .pagination > .active > a,
    .pagination > .active > a:focus,
    .pagination > .active > a:hover,
    .pagination > .active > span,
    .pagination > .active > span:focus,
    .pagination > .active > span:hover {
      border-radius: 0;
      background: transparent;
    }

    .pagination {
      @include govuk-font(false, "regular", false, false);

      .disabled {
        [aria-label="Previous page"],
        [aria-label="Next page"] {
          display: none;
        }
      }

      a {
        @extend .govuk-body;
        @include govuk-link-style-default;
        width: auto !important;
        outline: none;

        &:visited {
          color: $govuk-link-colour;
        }

        &:hover {
          color: govuk-colour("dark-blue", $legacy: "light-blue");
          text-decoration: underline;
        }

        &:focus {
          color: $govuk-focus-text-colour;
          background: govuk-colour("yellow") !important; // Bootstrap override
          box-shadow: inset 0 -3px govuk-colour("black");
          text-decoration: none;
        }
      }

      .active {
        a {
          color: govuk-colour("black");
          font-weight: $govuk-font-weight-bold;
        }
      }
    }
  }
}
